
.player-actions button {
    padding: 10px;
    font-size: 16px;
    background-color: #2ecc71;
    margin: 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playerButtonsLayout {
    display: flex;
    flex-direction: row;
}

.player-actions {
    display: flex;
    flex-direction: column;
}
.engageButton button:hover {
    background-color: #27ae60;
}

.mainButtons{
    width: 50%;
}

.charmButton {
    padding: 10px;
    font-size: 16px;
    background-color: #2ecc71;
    margin: 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.engageButton{
        padding: 10px;
        font-size: 16px;
        background-color: #2ecc71;
        margin: 5px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 50%;
    }

.charm-skill-button {
    position: relative;
}

.charm-skill-button::after {
    content: attr(data-hover-message);
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 5;
}

.charm-skill-button:hover::after {
    opacity: 1;
    visibility: visible;
}

.attackButton:hover::after {
    background-color: #2ecc71;
}

.helpBarLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpBar {
    display: flex;
    justify-content: center;
    background-color: #2ecc71;
}

.helpBar p {
    font-weight: bold;
}

@media (max-width: 1700px) {
    .charm-skill-button::after,
    .attackButton::after {
        top: -300%;
        transform: translate(-50%, -50%);
        white-space: normal;
    }
}
@media (max-width: 800px) {
    .player-actions button {
        padding: 5px;
    }

    .engageButton:hover::after {
        top: 50%;
        left: 50%;
    }
    .charmButton:hover::after {
        top: 50%;
        left: 50%;
    }
}