body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
h1 {
    color: white;
}

.intro-screen {
    background-color: #222;
    height: 100vh;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-advertisement {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-advertisement h2 {
    color: #007bff;
}

.job-advertisement p {
    margin: 10px 0;
}
.ButtonPlace{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.introbutton {
    background-color: #28a745;
    color: #ffffff;
    margin: 5px;
    border: 2px solid black;
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

}

.button:hover {
    background-color: #218838;
}


@media (max-width: 800px) {
    .intro-screen {
        font-size: 0.6rem;
    }
    .introbutton {
        padding: 5px;
        font-size: 0.6rem;
    }
}